<!DOCTYPE html>
<html>
<head>
  <title>FoodX: <%= controller.action_name.capitalize %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="wrapper">
    <div class="header">
      <h1>FoodX</h1>
      <p>Your online chef!</p>
    </div>

    <p style="color: green"><%= flash[:notice] %></p>

    <div class="sidebar">
      (sidebar)
    </div>

    <div class="main">
      <%= yield %>
    </div>

    <div class="footer">
      FoodX Online Xpress<br/>
    </div>
</div>

</body>
</html>
